# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug / logs
*.log
npm-debug.*
npm-debug.log*
yarn-debug.*
yarn-error.*

# OS
.DS_Store
Thumbs.db
ehthumbs.db
*.pem

# env files
.env
.env.production
.env*.local

# Firebase (si ajouté plus tard)
google-services.json
GoogleService-Info.plist

# Android keystore
*.keystore

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios
/android
